/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/* my code starts here */


/* Andrew Tutorial */


/* PARENT ELEMENTS MUST USE DISPLAY: FLEX!!!! */


/* USE FOR DEBUGGING */
/*OVER HERE*/
body {
 /* background: rgba(255, 0, 0, 0.2);      */
}




img {
 display: block;
 width: 100%;
 height: auto;
}


.home-img {
 display: block;
 width: 49%;
 height: auto;


}


.spread-img {
 display: block;
 width: 100%;
 height: auto;


}


.home-img:hover{
 opacity: 50%;
 transition: ease-in-out .3s;
}


.img-container {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
}


.img-container img {
 width: 50%; /* Adjust this as needed */
 height: auto;
}


.img-crop-container {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
}


.img-crop-container img {
 width: 50%; /* Adjust this as needed */
 height: 300px;
 object-fit: cover; /* Maintain the aspect ratio while covering the container */
 object-position: 50% 25%;
 overflow: hidden;
}


.flex { /*selector*/
 /* rules, Property: Value */
 display: flex;   
 flex-wrap: wrap; 
 justify-content: space-between; /*but space between each element*/
 align-items: flex-start;
 margin: 0 7.5%; /*0 on top and bottom 2 on left and right*/


}
.flexIndex { /*selector*/
 /* rules, Property: Value */
 display: flex;   
 flex-wrap: wrap; 
 justify-content: space-between; /*but space between each element*/
 align-items: flex-start;
 margin: 0 2%; /*0 on top and bottom 2 on left and right*/


}


.col1{   /*col1 WITHIN section -- . means CLASS OF */
 width: 16%; /*16.7*/
}


.col2{ 
 width: 33%; /*33.4*/
}


.col3{ 
 width: 49%; /*49.8*/
}


.flex-container {
 display: flex;
 align-items: center; /* Optional: Align items vertically centered */
}


.col4{ 
 width: 66%; /*66.3*/
}


.col5{ 
 width: 82%; /*82.8*/
}


.col6{ 
 width: 100%; /*cuz it can be*/
}


.big-buffer{
  margin-top: 2rem;
}


.double-big-buffer{
 margin-top: 4rem;
}


.massive-buffer{
 margin-top: 15rem;
}


.small-buffer{
 margin-top: 0.4rem;
}


main {
   padding-top: 3rem;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
   padding-bottom: 3rem;
}




 div.hugebr {
   height: 25vh;
 }






 div.smallbr {
   height: 1rem;
 }


/* type */


h1 {
   font-family: "DM Sans", sans-serif;
   font-weight: 400;
   font-style: regular;
   font-size: 20pt;
   color: #000000;
   line-height: 120%;
 }


 /* subtitle heading */
h2 {
 font-family: "DM Sans", sans-serif;
 font-weight: 200;
 font-style: light;
 font-size: 30pt;
 color: #000000;
 line-height: 120%;
}


bold {
 font-weight: bold;
}


/* body paragraph */
h3 { 
 font-family: "DM Sans", sans-serif;
 font-weight: 200;
 font-style: regular;
 font-size: 15pt;
 color: #000000;
 line-height: 120%;
}


/* Andrew test */
.bodycopy {
 max-width: 35em;
 /* line-height: 1.2em; */
}
/* Big title */
h4 {
 font-family: "DM Sans", sans-serif;
 font-weight: 600;
 font-style: semibold;
 font-size: 45pt;
 color: #000000;
 line-height: 120%;
}


/* nav bar */
h5 { 
 font-family: "DM Sans", sans-serif;
 font-weight: 400;
 font-style: regular;
 font-size: 15pt;
 color: #000000;
 line-height: 120%;
}


h6 { 
 font-family: "DM Sans", sans-serif;
 font-weight: 200;
 font-style: regular;
 font-size: 9pt;
 color: #000000;
 line-height: 120%;
}


a:link {
 color:#000000;
 text-decoration: none;
}


a:hover{
 background-color: #FFC164;
 transition: ease-out .3s;
}


a.gensler:hover{
 color:#FFFFFF;
 background-color: #EE3227;
 transition: ease-out .3s;
}




a:visited {
 color:#000000;
}




em {
 font-family: "DM Sans", sans-serif;
 font-weight: 600;
 font-style: semibold;
 font-size: 30px;
 color: #000000;
 line-height: 120%;
}
/* Navigación */
.topnav {
   position: fixed;
   display: flex;
   background: #ffffff;
   width: 100%;
   border-bottom: 1px solid #000000;
 }


 .topnav div{
   width: 33%;
   align-content: left;
   padding: 0.5rem;
 }


 .topnav a{
   text-decoration: none;
 }


.topnav-middle:hover{
   background-color: #FC67FF;
   transition: ease-out .3s;
 }


 /* hover colors */
.topnav-left:hover{
   background-color: #14D277;
   transition: ease-in-out .3s;
 }


.topnav-right:hover{
   background-color: #FFC164;
   transition: ease-in-out .3s;
 }
  /* have the buttons STAY COLORED when on that page */
 /* colored */
 .topnav-left-colored {
   background-color: #14D277;
 }


 .topnav-right-colored {
   background-color: #FFC164;
 }


 .topnav-middle-colored{
   background-color: #FC67FF;
 }


 /* Images? */
 .bodyimg {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 49.5%;
   height: inherit 20%;
}


.cropped-img {
 width: 33%;
 height: 300px;
 overflow: hidden;
 }


 .cropped-img img {
   width: 100%; /* Make the image fill the container */
   height: 100%; /* Ensure the image height is 100% of the container */
   object-fit: cover; /* Maintain the aspect ratio while covering the container */
   object-position: 25% 10%;
}


 /* why the fuck not */
.loading {
   margin: 20px;
   font-family: "DM Sans", sans-serif;
   font-weight: 600;
   font-style: semibold;
   font-size: 30px;
   color: #000000;
   line-height: 120%;
}


.loading:after {
 display: inline-block;
 animation: dotty steps(1,end) 1s infinite;
 content: '';
}


@keyframes dotty {
 0%   { content: ''; }
 25%  { content: '.'; }
 50%  { content: '..'; }
 75%  { content: '...'; }
 100% { content: ''; }
}


.youtube-video {
 aspect-ratio: 16 / 9;
 width: 100%;
}


@media only screen and (max-width: 800px) {
.flex{
 display: block;
}
/* Serialize Selector: use commas to separate BUT NOT AFTER LAST ONE!*/
.col1 {
 width: 50%;
}


.col2, .col3, .col4, .col5, .col6 {
 width: 100%;
}


.home-img {
 width: 100%;
}
}
/*hello*/
